apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  creationTimestamp: null
  name: storageclients.ocs.openshift.io
spec:
  group: ocs.openshift.io
  names:
    kind: StorageClient
    listKind: StorageClientList
    plural: storageclients
    singular: storageclient
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Phase
      type: string
    - jsonPath: .status.id
      name: consumer
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: StorageClient is the Schema for the storageclients API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: StorageClientSpec defines the desired state of StorageClient
            properties:
              onboardingTicket:
                description: OnboardingTicket holds an identity information required
                  for consumer to onboard.
                type: string
              storageProviderEndpoint:
                description: StorageProviderEndpoint holds info to establish connection
                  with the storage providing cluster.
                type: string
            required:
            - onboardingTicket
            - storageProviderEndpoint
            type: object
          status:
            description: StorageClientStatus defines the observed state of StorageClient
            properties:
              id:
                description: ConsumerID will hold the identity of this cluster inside
                  the attached provider cluster
                type: string
              phase:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
