apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  creationTimestamp: null
  name: networkfences.csiaddons.openshift.io
spec:
  group: csiaddons.openshift.io
  names:
    kind: NetworkFence
    listKind: NetworkFenceList
    plural: networkfences
    singular: networkfence
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.driver
      name: Driver
      type: string
    - jsonPath: .spec.cidrs
      name: Cidrs
      type: string
    - jsonPath: .spec.fenceState
      name: FenceState
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .status.result
      name: Result
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NetworkFence is the Schema for the networkfences API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: NetworkFenceSpec defines the desired state of NetworkFence
            properties:
              cidrs:
                description: Cidrs contains a list of CIDR blocks, which are required
                  to be fenced.
                items:
                  type: string
                type: array
              driver:
                description: Driver contains  the name of CSI driver.
                type: string
                x-kubernetes-validations:
                - message: driver is immutable
                  rule: self == oldSelf
              fenceState:
                default: Fenced
                description: |-
                  FenceState contains the desired state for the CIDRs
                  mentioned in the Spec. i.e. Fenced or Unfenced
                enum:
                - Fenced
                - Unfenced
                type: string
              parameters:
                additionalProperties:
                  type: string
                description: Parameters is used to pass additional parameters to the
                  CSI driver.
                type: object
                x-kubernetes-validations:
                - message: parameters are immutable
                  rule: self == oldSelf
              secret:
                description: Secret is a kubernetes secret, which is required to perform
                  the fence/unfence operation.
                properties:
                  name:
                    description: Name specifies the name of the secret.
                    type: string
                    x-kubernetes-validations:
                    - message: name is immutable
                      rule: self == oldSelf
                  namespace:
                    description: |-
                      Namespace specifies the namespace in which the secret
                      is located.
                    type: string
                    x-kubernetes-validations:
                    - message: namespace is immutable
                      rule: self == oldSelf
                type: object
                x-kubernetes-validations:
                - message: secret is immutable
                  rule: self == oldSelf
            required:
            - cidrs
            - driver
            - fenceState
            type: object
            x-kubernetes-validations:
            - message: parameters are immutable
              rule: has(self.parameters) == has(oldSelf.parameters)
            - message: secret is immutable
              rule: has(self.secret) == has(oldSelf.secret)
          status:
            description: NetworkFenceStatus defines the observed state of NetworkFence
            properties:
              conditions:
                description: Conditions are the list of conditions and their status.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              message:
                description: Message contains any message from the NetworkFence operation.
                type: string
              result:
                description: Result indicates the result of Network Fence/Unfence
                  operation.
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
