apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ux-backend-server
rules:
- apiGroups:
  - ""
  resourceNames:
  - onboarding-private-key
  - ux-cert-secret
  - ux-backend-proxy
  resources:
  - secrets
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - configmaps
  - pods
  verbs:
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  verbs:
  - get
  - create
  - update
  - list
  - watch
- apiGroups:
  - ocs.openshift.io
  resources:
  - storageclusters
  verbs:
  - get
  - list
  - update
- apiGroups:
  - ceph.rook.io
  resources:
  - cephblockpools
  verbs:
  - create
- apiGroups:
  - noobaa.io
  resources:
  - noobaas
  verbs:
  - get
  - list
  - watch
