apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    createdAt: "2024-08-21T06:47:33Z"
    olm.skipRange: ""
    operators.operatorframework.io/builder: operator-sdk-v1.34.1
    operators.operatorframework.io/operator-type: non-standalone
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
  name: cephcsi-operator.v4.17.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: CephConnection
      name: cephconnections.csi.ceph.io
      version: v1alpha1
    - kind: ClientProfileMapping
      name: clientprofilemappings.csi.ceph.io
      version: v1alpha1
    - kind: ClientProfile
      name: clientprofiles.csi.ceph.io
      version: v1alpha1
    - kind: Driver
      name: drivers.csi.ceph.io
      version: v1alpha1
    - kind: OperatorConfig
      name: operatorconfigs.csi.ceph.io
      version: v1alpha1
  description: Operator to deploy ceph csi drivers.
  displayName: CephCSI operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - get
          - list
        - apiGroups:
          - ""
          resources:
          - persistentvolumes
          verbs:
          - get
          - list
          - watch
          - create
          - delete
          - patch
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims
          verbs:
          - get
          - list
          - watch
          - patch
          - update
        - apiGroups:
          - storage.k8s.io
          resources:
          - storageclasses
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - list
          - watch
          - create
          - update
          - patch
        - apiGroups:
          - storage.k8s.io
          resources:
          - volumeattachments
          verbs:
          - get
          - list
          - watch
          - patch
        - apiGroups:
          - storage.k8s.io
          resources:
          - volumeattachments/status
          verbs:
          - patch
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims/status
          verbs:
          - patch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshots
          verbs:
          - get
          - list
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotclasses
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotcontents
          verbs:
          - get
          - list
          - watch
          - patch
          - update
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotcontents/status
          verbs:
          - update
          - patch
        serviceAccountName: ceph-csi-cephfs-ctrlplugin-sa
      - rules:
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - serviceaccounts
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - serviceaccounts/token
          verbs:
          - create
        serviceAccountName: ceph-csi-cephfs-nodeplugin-sa
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - daemonsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - cephconnections
          verbs:
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - clientprofilemappings
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - clientprofilemappings/finalizers
          verbs:
          - update
        - apiGroups:
          - csi.ceph.io
          resources:
          - clientprofilemappings/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - csi.ceph.io
          resources:
          - clientprofiles
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - clientprofiles/finalizers
          verbs:
          - update
        - apiGroups:
          - csi.ceph.io
          resources:
          - clientprofiles/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - csi.ceph.io
          resources:
          - drivers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - drivers/finalizers
          verbs:
          - update
        - apiGroups:
          - csi.ceph.io
          resources:
          - drivers/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - csi.ceph.io
          resources:
          - operatorconfigs
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - csidrivers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: ceph-csi-controller-manager
      - rules:
        - apiGroups:
          - ""
          resources:
          - persistentvolumes
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - delete
          - patch
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims
          verbs:
          - get
          - list
          - watch
          - patch
          - update
        - apiGroups:
          - storage.k8s.io
          resources:
          - storageclasses
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
        - apiGroups:
          - storage.k8s.io
          resources:
          - csinodes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - get
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotclasses
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotcontents
          verbs:
          - get
          - list
          - watch
          - update
          - patch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotcontents/status
          verbs:
          - update
          - patch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshots
          verbs:
          - get
          - list
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims/status
          verbs:
          - patch
        - apiGroups:
          - storage.k8s.io
          resources:
          - volumeattachments
          verbs:
          - get
          - list
          - watch
          - patch
        - apiGroups:
          - storage.k8s.io
          resources:
          - volumeattachments/status
          verbs:
          - patch
        serviceAccountName: ceph-csi-nfs-ctrlplugin-sa
      - rules:
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
        serviceAccountName: ceph-csi-nfs-nodeplugin-sa
      - rules:
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - persistentvolumes
          verbs:
          - get
          - list
          - watch
          - create
          - delete
          - patch
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims
          verbs:
          - get
          - list
          - watch
          - update
        - apiGroups:
          - storage.k8s.io
          resources:
          - storageclasses
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - list
          - watch
          - create
          - update
          - patch
        - apiGroups:
          - storage.k8s.io
          resources:
          - volumeattachments
          verbs:
          - get
          - list
          - watch
          - patch
        - apiGroups:
          - storage.k8s.io
          resources:
          - volumeattachments/status
          verbs:
          - patch
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - csinodes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims/status
          verbs:
          - patch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshots
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotclasses
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotcontents
          verbs:
          - get
          - list
          - watch
          - patch
          - update
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotcontents/status
          verbs:
          - update
          - patch
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - serviceaccounts
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - serviceaccounts/token
          verbs:
          - create
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
          - list
          - watch"
        - apiGroups:
          - storage.k8s.io
          resources:
          - csinodes
          verbs:
          - get
          - list
          - watch
        serviceAccountName: ceph-csi-rbd-ctrlplugin-sa
      - rules:
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - get
          - list
        - apiGroups:
          - ""
          resources:
          - persistentvolumes
          verbs:
          - get
          - list
        - apiGroups:
          - storage.k8s.io
          resources:
          - volumeattachments
          verbs:
          - get
          - list
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - serviceaccounts
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - serviceaccounts/token
          verbs:
          - create
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
        serviceAccountName: ceph-csi-rbd-nodeplugin-sa
      deployments:
      - label:
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: ceph-csi-operator
          control-plane: controller-manager
        name: ceph-csi-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: ceph-csi-op-controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: ceph-csi-op-controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=0
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.16.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 5m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                env:
                - name: OPERATOR_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: CSI_SERVICE_ACCOUNT_PREFIX
                  value: ceph-csi-
                image: quay.io/ocs-dev/cephcsi-operator:release-4.17-fb535da
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
              serviceAccountName: ceph-csi-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - watch
          - list
          - delete
          - update
          - create
        - apiGroups:
          - csiaddons.openshift.io
          resources:
          - csiaddonsnodes
          verbs:
          - create
        serviceAccountName: ceph-csi-cephfs-ctrlplugin-sa
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: ceph-csi-controller-manager
      - rules:
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - watch
          - list
          - delete
          - update
          - create
        - apiGroups:
          - csiaddons.openshift.io
          resources:
          - csiaddonsnodes
          verbs:
          - create
        serviceAccountName: ceph-csi-rbd-ctrlplugin-sa
      - rules:
        - apiGroups:
          - csiaddons.openshift.io
          resources:
          - csiaddonsnodes
          verbs:
          - create
        serviceAccountName: ceph-csi-rbd-nodeplugin-sa
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - storage
  - csi
  links:
  - name: Github Repo
    url: https://github.com/ceph/ceph-csi-operator
  maintainers:
  - email: ceph-csi-team@redhat.com
    name: CephCSI Community
  maturity: alpha
  provider:
    name: CephCSI Community
  version: 4.17.0
