---
name: mirror-noobaa-upstream-images

on:
  schedule:
    - cron: "0 * * * *"

jobs:
  mirror-noobaa-upstream-images:
    runs-on: ubuntu-latest
    if: >
      github.repository == 'red-hat-storage/odf-operator' &&
      github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3

      - name: log into quay
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: mirror images
        run: hack/mirror-noobaa-images.sh
