---
name: mirror-noobaa-upstream-images

on:
  schedule:
    - cron: "0 * * * *"

jobs:
  mirror-noobaa-upstream-images:
    runs-on: ubuntu-latest
    if: >
      github.repository == 'red-hat-storage/odf-operator' &&
      github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_IO_USER }}
        password: ${{ secrets.QUAY_IO_PASS }}

    - name: mirror images
      run: hack/mirror-noobaa-images.sh
